/* For search bar and drop-down list. */
.my-bar {
  font-size: 14px;
}
.my-bar:hover {
  background-color: #332d2d;
}
.my-bar:hover::placeholder {
  color: white;
}
.my-bar:focus {
  background-color: #332d2d;
  color: white;
  outline: none !important;
  border: 1px solid green;
  box-shadow: 0 0 5px green;
}

/* For clear display of table content. */
.table td,
.table th {
  vertical-align: middle;
}

/* Asc/desc arrows. */
.fa {
  margin-left: 10px;
}

th {
  font-weight: bold;
  font-size: 15px;
  color: white;
}

tr:hover td {
  background-color: #332d2d;
  color: white;
}

/* Book covers. */
.cover {
  width: 45px;
  height: auto;
}
.cover-column {
  max-width: 60px;
}

/* Zoom cover. */
.zoom {
  transition: transform 1s ease;
}
.zoom:hover {
  transform: scale(3.7);
}

/* Align buttons to right. */
.right-align {
  text-align: right;
}
.right-align button {
  display: inline-block;
}

/* Icons when the cursor hovers over the buttons. */
.notes-button:hover {
  cursor: url("../../../assets/icons/notes.png") 15 15, auto;
}
.edit-button:hover {
  cursor: url("../../../assets/icons/edit.png") -2 32, auto;
}
