<div class="mt-5 mb-5">
  <div class="mb-3 d-flex justify-content-between">
    <!-- search bar -->
    <div class="col-md-4">
      <input
        class="form-control my-bar"
        type="text"
        [(ngModel)]="searchTerms"
        (ngModelChange)="search()"
        placeholder="Search title or author"
      />
    </div>

    <!-- drop-down list -->
    <div class="col-md-4">
      <select
        class="form-select my-bar"
        [(ngModel)]="selectedStatus"
        (change)="filterByStatus()"
      >
        <option value="">Display books by status: ALL</option>
        <option value="READ">Read</option>
        <option value="READING">Reading</option>
        <option value="WAITING">Waiting</option>
      </select>
    </div>
  </div>

  <!-- book-list table -->
  <table class="table">
    <thead class="bg-dark">
      <tr>
        <th class="cover-column"></th>
        <th (click)="sortTableBy('title')">
          Title
          <i *ngIf="sortDirection === ''" class="fa fa-solid fa-sort fa-lg"></i>
          <i
            *ngIf="sortDirection === 'asc' && field === 'title'"
            class="fa fa-solid fa-sort-up fa-lg"
          ></i
          ><i
            *ngIf="sortDirection === 'desc' && field === 'title'"
            class="fa fa-solid fa-sort-down fa-lg"
          ></i>
        </th>
        <th (click)="sortTableBy('author')">
          Author
          <i *ngIf="sortDirection === ''" class="fa fa-solid fa-sort fa-lg"></i>
          <i
            *ngIf="sortDirection === 'asc' && field === 'author'"
            class="fa fa-solid fa-sort-up fa-lg"
          ></i
          ><i
            *ngIf="sortDirection === 'desc' && field === 'author'"
            class="fa fa-solid fa-sort-down fa-lg"
          ></i>
        </th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let book of books | paginate : { itemsPerPage: 10, currentPage: page }
        "
      >
        <td class="cover-column">
          <img
            *ngIf="book.linkToCover"
            [src]="book.linkToCover"
            alt=""
            class="cover zoom"
          />
        </td>
        <td>
          {{
            book.title.length > 35
              ? book.title.slice(0, 35) + "..."
              : book.title
          }}
        </td>
        <td>
          {{
            book.author.length > 30
              ? book.author.slice(0, 30) + "..."
              : book.author
          }}
        </td>
        <td>
          <span
            *ngIf="book.status === 'READ'"
            class="badge badge-success rounded-pill d-inline"
            >READ</span
          >
          <span
            *ngIf="book.status === 'WAITING'"
            class="badge badge-warning rounded-pill d-inline"
            >WAITING</span
          >
          <span
            *ngIf="book.status === 'READING'"
            class="badge badge-primary rounded-pill d-inline"
            >READING</span
          >
        </td>

        <!-- buttons: notes, edit, delete -->
        <td class="right-align">
          <button
            (click)="goToBookNotes(book.id)"
            class="btn btn-info btn-rounded btn-sm fw-bold notes-button"
          >
            Notes
          </button>
          <button
            (click)="updateBook(book.id)"
            class="btn btn-info btn-rounded btn-sm fw-bold edit-button"
            style="margin-left: 10px"
          >
            Edit
          </button>
          <button
            (click)="openModalForDelete(book.id)"
            class="btn btn-danger btn-rounded btn-sm fw-bold"
            style="margin-left: 10px"
            data-bs-toggle="modal"
            data-bs-target="#confirm"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="page = $event"
    class="mt-4 d-flex justify-content-end"
  ></pagination-controls>

  <!-- modal for delete button -->
  <div
    class="modal fade"
    id="confirm"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="confirmLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-w" id="confirmLabel">WARNING</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Are you sure you want to delete?</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-dark fw-bold"
            data-bs-dismiss="modal"
          >
            No
          </button>
          <button
            type="button"
            (click)="confirmDelete()"
            class="btn btn-danger fw-bold"
            data-bs-dismiss="modal"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
