<div class="col-md-6 offset-md-3 mt-5 mb-5">
  <h3>Add new book</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group mt-3 md-3">
      <label class="ta-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="book.title"
        name="title"
        #title="ngModel"
      />
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        Title is required
      </div>
    </div>

    <div class="form-group mt-3 md-3">
      <label class="ta-label">Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        required
        [(ngModel)]="book.author"
        name="author"
        #author="ngModel"
      />
      <div
        [hidden]="author.valid || author.pristine"
        class="alert alert-danger"
      >
        Author is required
      </div>
    </div>

    <div class="form-group mt-3 md-3">
      <label class="ta-label">Link to cover</label>
      <input
        type="text"
        class="form-control"
        id="linkToCover"
        [(ngModel)]="book.linkToCover"
        name="linkToCover"
        #linkToCover="ngModel"
      />
    </div>

    <div class="d-flex justify-content-center mt-4">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="title.invalid || author.invalid"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Submit
      </button>
    </div>
  </form>

  <!-- modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 ch-mark" id="staticBackdropLabel">
            &#10004;
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">The book has been added to the list.</div>
        <div class="modal-footer">
          <a href="/bookshelf">
            <button type="button" class="btn btn-dark">Bookshelf</button></a
          >
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Add another
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
