.table-h {
  font-weight: bold;
  color: white;
}

.text-w {
  font-weight: bold;
  color: rgb(187, 0, 0);
}

table tbody tr:hover {
  background-color: #332d2d;
}

table tbody tr:hover td {
  color: white;
}

.notes-button:hover {
  cursor: url("../../assets/icons/notes.png") 15 15, auto;
}

.edit-button:hover {
  cursor: url("../../assets/icons/edit.png") -2 32, auto;
}
