.navbar {
  padding-left: 50px;
}

.navbar-guest {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.navbar-guest p {
  margin: 0;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

.navbar-user {
  display: flex;
  align-items: center;
  padding-right: 120px;
  color: white;
}

.navbar-nav {
  font-weight: bold;
}
.navbar-nav a:hover {
  color: #332d2d;
}

.nick {
  font-weight: bold;
}

.m-l {
  margin-left: 30px;
}

.p-r {
  padding-right: 270px;
}

.conf {
  color: rgb(5, 151, 0);
  font-weight: bold;
}

.unconf {
  color: rgb(204, 14, 0);
}

.user-account {
  background-color: #0a7945;
  border: 1px solid #0a7945;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 7px 16px;
  display: flex;
  align-items: center;
}
.user-account:hover {
  background-color: #332d2d;
}

.user-account mat-icon {
  margin-right: 10px;
}

.user-account-item:hover {
  background-color: rgba(10, 121, 69, 0.2) !important;
}
