<div class="mt-5 mb-5">
  <!-- book details -->
  <div class="row">
    <div class="col-md-3">
      <img
        *ngIf="book.linkToCover"
        [src]="book.linkToCover"
        alt="book cover"
        class="cover-notes"
      />
    </div>
    <div class="col-md-6 p-left">
      <div class="mt-4">
        <span
          *ngIf="book.status === 'READ'"
          class="badge badge-success d-inline"
          >READ</span
        >
        <span
          *ngIf="book.status === 'WAITING'"
          class="badge badge-warning d-inline"
          >WAITING</span
        >
        <span
          *ngIf="book.status === 'READING'"
          class="badge badge-primary d-inline"
          >READING</span
        >
      </div>
      <div class="mt-4">
        <span><b>Title:</b></span> {{ book.title }}
      </div>
      <div class="mt-1">
        <span><b>Author:</b></span> {{ book.author }}
      </div>
      <div class="mt-4">
        <span><b>Categories:</b></span
        ><span
          *ngFor="let category of book.categories"
          class="badge badge-info m-1"
          >{{ formatCategory(category) }}</span
        >
      </div>
      <div class="mt-4">
        <span><b>Created date:</b></span>
        {{ book.createdDate | date : "d MMM yyyy | HH:mm" }}
      </div>
      <div>
        <span><b>Last edited:</b></span>
        {{ book.lastModifiedDate | date : "d MMM yyyy | HH:mm" }}
      </div>
    </div>
  </div>

  <!-- Notes section -->
  <div class="mt-5">
    <!-- Presentation of the content of the note. -->
    <div *ngIf="!isEditing">
      <div class="notes-presentation">
        {{ missingNotesMessage }}
        {{ note.content }}
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button
          (click)="isEditing = true"
          class="btn btn-primary btn-lg btn-rounded fw-bold"
        >
          Edit
        </button>
        <button
          (click)="openModalForDelete()"
          [disabled]="!canDelete"
          class="btn btn-danger btn-lg btn-rounded fw-bold ms-2"
          data-bs-toggle="modal"
          data-bs-target="#confirm"
        >
          Delete
        </button>
      </div>
    </div>

    <!-- Edit the content of the note. -->
    <div *ngIf="isEditing">
      <quill-editor
        [(ngModel)]="note.content"
        class="quill-editor"
        [modules]="{
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            [{ header: [1, 2, 3, false] }],
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ['blockquote'],
            ['clean']
          ]
        }"
      ></quill-editor>
      <div class="text-muted ms-3 mt-1">
        {{ 10000 - (note.content ? note.content.length : 0) }} characters left.
      </div>
      <div class="d-flex justify-content-center">
        <button
          (click)="saveNote()"
          [disabled]="!canSaveNote() || !isNoteChanged()"
          class="btn btn-success btn-lg btn-rounded fw-bold"
        >
          Save
        </button>
        <button
          (click)="isEditing = false; cleanMissingNotesMessage()"
          class="btn btn-warning btn-lg btn-rounded fw-bold ms-2"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>

  <!-- Modal for delete button. -->
  <div
    class="modal fade"
    id="confirm"
    data-bs-backdrop="true"
    data-bs-keyboard="true"
    tabindex="-1"
    aria-labelledby="confirmLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-w" id="confirmLabel">WARNING</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete these notes?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-dark fw-bold"
            data-bs-dismiss="modal"
          >
            No
          </button>
          <button
            type="button"
            (click)="confirmDelete()"
            class="btn btn-danger fw-bold"
            data-bs-dismiss="modal"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
