.cover-notes {
  max-width: 280px;
  max-height: auto;
}

.p-left {
  padding-left: 30px;
}

.notes-presentation {
  padding: 15px;
  border-radius: 5px;
  border-left: 4px solid #007bff;
  background-color: #ececec;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

textarea {
  background-color: #ececec;
  padding: 15px; 
}

textarea:focus {
  background-color: #ececec;
  outline: 0;
  border: 0;
}
