<div class="dialog">
  <mat-dialog-content>
    <input
      type="text"
      class="form-control mb-3 input-a"
      [(ngModel)]="nick"
      placeholder="New nick"
      required
      minlength="1"
      maxlength="25"
    />
    <div class="password-wrapper">
      <input
        [type]="hidePassword ? 'password' : 'text'"
        class="form-control input-a"
        [(ngModel)]="password"
        placeholder="Password"
        required
      /><i
        class="fa fa-eye password-icon"
        (click)="hidePassword = !hidePassword"
      ></i>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-center bn">
    <button class="btn btn-dark" (click)="onCancel()">Cancel</button>
    <button
      class="btn btn-success"
      type="submit"
      (click)="changeNick()"
      [disabled]="!nick.trim() || !password"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
