<div
  [formGroup]="formGroup"
  class="col-md-6 offset-md-3 mt-5 mb-5 d-flex justify-content-center"
>
  <form (submit)="sendEmail()">
    <input
      type="email"
      class="form-control mb-3"
      formControlName="from_email"
      placeholder="Your e-mail"
    />
    <input
      type="text"
      class="form-control mb-3"
      formControlName="from_name"
      placeholder="Your name"
    />
    <input
      type="text"
      class="form-control mb-3"
      formControlName="subject"
      placeholder="Subject"
    />
    <textarea
      type="text"
      class="form-control mb-3"
      formControlName="message"
      placeholder="Message"
    ></textarea>

    <div class="d-flex justify-content-center mb-3">
      <ngx-recaptcha2
        #captchaElem
        [siteKey]="siteKey"
        (success)="onCaptchaResolved($event)"
      >
      </ngx-recaptcha2>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="formGroup.invalid || !isCaptchaResolved"
      >
        Send
      </button>
    </div>
  </form>
</div>
