<div class="col-md-6 offset-md-3 mt-5 mb-5 d-flex justify-content-center">
  <form (ngSubmit)="onSubmit()">
    <input
      type="text"
      class="form-control mb-3 input-r-l"
      [(ngModel)]="user.nick"
      name="nick"
      #nick="ngModel"
      placeholder="Nick"
      required
      maxlength="25"
    />
    <input
      type="email"
      class="form-control mb-3 input-r-l"
      [(ngModel)]="user.email"
      name="email"
      #email="ngModel"
      placeholder="E-mail"
      required
    />
    <input
      type="password"
      class="form-control input-r-l"
      [(ngModel)]="user.password"
      name="password"
      #password="ngModel"
      placeholder="Password"
      required
      minlength="6"
    />
    <div *ngIf="password.errors?.['minlength']" class="alert alert-danger">
      The password must have at least 6 characters.
    </div>

    <div class="d-flex justify-content-center mt-3 mb-3">
      <ngx-recaptcha2
        #captchaElem
        [siteKey]="siteKey"
        (success)="onCaptchaResolved($event)"
      >
      </ngx-recaptcha2>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="
          !user.nick ||
          !user.email ||
          user.password.length < 6 ||
          !this.isCaptchaResolved
        "
      >
        Register
      </button>
    </div>

    <div class="text-center mt-4">
      Already have an account? <a href="/login">Login!</a>
    </div>
  </form>
</div>
