<div class="col-md-6 offset-md-3 mt-5 mb-5 d-flex justify-content-center">
  <form (ngSubmit)="onSubmit()">
    <div class="password-wrapper">
      <input
        [type]="hidePassword ? 'password' : 'text'"
        class="form-control input-a"
        [(ngModel)]="newPassword"
        name="newPassword"
        placeholder="New password"
        minlength="6"
        required
      />
      <i
        class="fa fa-eye password-icon"
        (click)="hidePassword = !hidePassword"
        (keydown.enter)="hidePassword = !hidePassword"
        tabindex="0"
      ></i>
    </div>
    <div
      *ngIf="newPassword.length > 0 && newPassword.length < 6"
      class="alert alert-danger"
    >
      The password must have at least 6 characters.
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="newPassword.length < 6"
      >
        Reset Password
      </button>
    </div>
  </form>
</div>
