.navbar-user {
  color: white;
  padding-right: 150px;
  display: flex;
}

.nick {
  font-weight: bold;
}

.p {
  padding-left: 15px;
}

.conf {
  color: rgb(129, 255, 129);
}

.unconf {
  color: rgb(255, 230, 0);
}
