.navbar-guest {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.navbar-guest p {
  margin: 0;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

.navbar-user {
  color: white;
  align-items: center;
  padding-right: 120px;
}

.navbar-nav {
  font-weight: bold;
}
.navbar-nav a:hover {
  color: #332d2d;
}

.nick {
  font-weight: bold;
}

.padd {
  padding-left: 15px;
}

.marg {
  margin-left: 10px;
}

.conf {
  color: rgb(129, 255, 129);
}

.unconf {
  color: rgb(255, 230, 0);
}
