<div class="d-flex flex-column justify-content-between h-100">
  <div><app-navbar></app-navbar></div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer class="f-bg-1">
    <div class="container pt-2">
      <section class="mb-2">
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1 btn-icons"
          href="https://facebook.com"
          role="button"
          ><i class="fa fa-facebook fa-lg"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1 btn-icons"
          href="https://twitter.com"
          role="button"
          ><i class="fa fa-twitter fa-lg"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1 btn-icons"
          href="https://gmail.com"
          role="button"
          ><i class="fa fa-google fa-lg"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1 btn-icons"
          href="https://instagram.com"
          role="button"
          ><i class="fa fa-instagram fa-lg"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1 btn-icons"
          href="https://linkedin.com/"
          role="button"
          ><i class="fa fa-linkedin fa-lg"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1 btn-icons"
          href="https://github.com/willy-it-wonka"
          role="button"
          ><i class="fa fa-github fa-lg"></i
        ></a>
      </section>
    </div>
    <div class="f-bg-2 p-2">
      <span>&copy; 2024 - All rights reserved - William Wonk</span>
    </div>
  </footer>
</div>
