<div class="dialog">
  <mat-dialog-content>
    <input
      type="email"
      class="form-control input-a"
      [(ngModel)]="email"
      placeholder="Your email address"
      required
    />
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-center bn">
    <button class="btn btn-dark" (click)="onCancel()">Cancel</button>
    <button
      class="btn btn-success"
      [disabled]="!email.trim()"
      (click)="initiateForgottenPasswordReset()"
    >
      Send email
    </button>
  </mat-dialog-actions>
</div>
