<div class="col-md-6 offset-md-3 mt-5 mb-5 d-flex justify-content-center">
  <form (ngSubmit)="onSubmit()">
    <input
      type="email"
      class="form-control mb-3 input-a"
      [(ngModel)]="email"
      name="email"
      placeholder="E-mail"
      required
    />
    <div class="password-wrapper mb-3">
      <input
        [type]="hidePassword ? 'password' : 'text'"
        class="form-control input-a"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
      />
      <i
        class="fa fa-eye password-icon"
        (click)="hidePassword = !hidePassword"
        (keydown.enter)="hidePassword = !hidePassword"
        tabindex="0"
      ></i>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!email || !password"
      >
        Login
      </button>
    </div>

    <div class="text-center mt-4">
      <p>
        Don't have an account?
        <a class="action-reg-log" href="/register">Register!</a>
      </p>
      <p>
        Forgot your password?
        <a class="action-reg-log" (click)="openForgottenPasswordMatDialog()"
          >Reset it.</a
        >
      </p>
    </div>
  </form>
</div>
