<div class="col-md-6 offset-md-3 mt-5 mb-5 d-flex justify-content-center">
  <form (ngSubmit)="onSubmit()">
    <input
      type="email"
      class="form-control mb-3 input-r-l"
      [(ngModel)]="email"
      name="email"
      placeholder="E-mail"
      required
    />
    <div class="password-wrapper mb-3">
      <input
        [type]="hidePassword ? 'password' : 'text'"
        class="form-control input-r-l"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
      />
      <i
        class="fa fa-eye password-icon"
        (click)="hidePassword = !hidePassword"
      ></i>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!email || !password"
      >
        Login
      </button>
    </div>

    <div class="text-center mt-4">
      Don't have an account? <a href="/register">Register!</a>
    </div>
  </form>
</div>
