/* Necessary for proper display of content and footer. */
html,
body {
  height: 100%;
}

/* navbar, book-notes */
.p-left {
  padding-left: 30px;
}

/* footer */
.bg-color-f1 {
  background-color: #28a745;
}
.bg-color-f2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-icons:hover i {
  color: black;
}

/* For labels to create-book and update-book. */
.ta-label {
  margin-left: 15px;
  font-weight: bold;
}

/* For input in login and registration. */
.input-w {
  width: 400px;
}
