/* Necessary for proper display of content and footer. */
html,
body {
  height: 100%;
}

/* Footer. */
footer {
  text-align: center;
  color: white;
}
.f-bg-1 {
  background-color: #28a745;
}
.f-bg-2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-icons:hover i {
  color: black;
}

/* For label in create-book and update-book. */
.ta-label {
  margin-left: 15px;
  margin-bottom: 3px;
  font-weight: bold;
}

/* For input in login and register. */
.input-r-l {
  min-width: 400px;
  padding: 10px;
}
.input-r-l:focus,
.input-r-l:hover {
  background-color: #332d2d;
  color: white;
  border: 0;
}

/* Warning in a modal (for delete button in book-list and book-notes). */
.text-w {
  font-weight: bold;
  color: rgb(187, 0, 0);
}

/* Show/hide password. */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.password-wrapper .form-control {
  padding-right: 30px;
}
.password-wrapper .password-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* For the category buttons in create-book and update-book. */
.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.category-button {
  margin-right: 2px;
  margin-bottom: 2px;
  padding-left: 9px;
  padding-right: 9px;
}
