.ng-valid[required] {
  border-left: 5px solid #42a948;
  border-color: #42a948;
}
.ng-valid[required]:focus {
  border-color: #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}
.ng-invalid:not(form):focus {
  border-color: #a94442;
}

.required-alert {
  padding: 10px 25px;
}

h3 {
  font-weight: bold;
}
