<div class="col-md-6 offset-md-3 mt-5 mb-5">
  <h3>Edit book</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group mt-3 md-3">
      <label class="ta-label" for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="book.title"
        name="title"
        #title="ngModel"
      />
      <div
        [hidden]="title.valid || title.pristine"
        class="alert alert-danger required-alert"
      >
        Title is required
      </div>
    </div>

    <div class="form-group mt-3 md-3">
      <label class="ta-label" for="author">Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        required
        [(ngModel)]="book.author"
        name="author"
        #author="ngModel"
      />
      <div
        [hidden]="author.valid || author.pristine"
        class="alert alert-danger required-alert"
      >
        Author is required
      </div>
    </div>

    <div class="form-group mt-3 md-3">
      <label class="ta-label" for="status">Status</label>
      <select
        class="form-control"
        id="status"
        [(ngModel)]="book.status"
        name="status"
        #status="ngModel"
      >
        <option value="WAITING">Waiting</option>
        <option value="READING">Reading</option>
        <option value="READ">Read</option>
      </select>
    </div>

    <div class="form-group mt-3 md-3">
      <label class="ta-label" for="linkToCover">Link to cover</label>
      <input
        type="text"
        class="form-control"
        id="linkToCover"
        [(ngModel)]="book.linkToCover"
        name="linkToCover"
        #linkToCover="ngModel"
      />
    </div>

    <div class="form-group mt-3">
      <span class="ta-label">Categories</span>
      <div class="category-container">
        <button
          type="button"
          *ngFor="let category of allCategories"
          class="btn btn-sm category-button"
          [ngClass]="{
            'btn-success': selectedCategories.get(category),
            'btn-outline-secondary': !selectedCategories.get(category)
          }"
          (click)="toggleCategory(category)"
        >
          {{ formatCategory(category) }}
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!isBookChanged() || title.invalid || author.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
